@charset "UTF-8";
/* reset.css
------------------------------- */

/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
 html, body, div, span, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 abbr, address, cite, code,
 del, dfn, em, img, ins, kbd, q, samp,
 small, strong, sub, sup, var,
 b, i,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, video {
     margin:0;
     padding:0;
     border:0;
     outline:0;
     font-size:100%;
     vertical-align:baseline;
     background:transparent;
 }
 body {
     line-height:1;
 }
 article,aside,details,figcaption,figure,
 footer,header,hgroup,menu,nav,section {
     display:block;
 }
 nav ul {
     list-style:none;
 }
 blockquote, q {
     quotes:none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content:'';
     content:none;
 }
 a {
     margin:0;
     padding:0;
     font-size:100%;
     vertical-align:baseline;
     background:transparent;
 }
 /* change colours to suit your needs */
 ins {
     background-color:#ff9;
     color:#000;
     text-decoration:none;
 }
 /* change colours to suit your needs */
 mark {
     background-color:#ff9;
     color:#000;
     font-style:italic;
     font-weight:bold;
 }
 del {
     text-decoration: line-through;
 }
 abbr[title], dfn[title] {
     border-bottom:1px dotted;
     cursor:help;
 }
 table {
     border-collapse:collapse;
     border-spacing:0;
 }
 /* change border colour to suit your needs */
 hr {
     display:block;
     height:1px;
     border:0;
     border-top:1px solid #cccccc;
     margin:1em 0;
     padding:0;
 }
 input, select {
     vertical-align:middle;
 }
/* reset.css　ここまで
------------------------------- */


/* 共通部分
------------------------------- */

/*基本レイアウトの調整*/
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
body {
  margin: 0;
  font-family: 'Sawarabi Mincho', sans-serif;
}
h2{
  font-size: 2em;
}
.logo img{
  width: 55px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    z-index: 100;
}
.main-nav{
  display: flex;
  margin: 20px 0;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #fff;
}
.main-nav a{
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  margin-left: 40px;
  letter-spacing: -1px;
}
.icon{
  width: 22px;
}
.uq_spNavi_screen{
  display: none;
}
footer{
  background-color: #333;
  margin-top: 50px;
}
.footer-logo{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 15vh;
  padding-bottom: 10px;
}
.footer-logo p{
  padding-left: 10px;
  color: #ffffff;
}
.footer-logo img{
  width: 80px;
}
.footer-nav{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 10px;
}
.footer-nav a{
  color: #ffffff;
  padding: 0 5px 0 5px;
}
.footer-nav li:not(:first-child){
  border-left: thin solid #fff;
}
.footer-icon{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 10px;
}
.footer-icon a{
  padding: 0 5px;
}
.fab{
  color: #fff;
}
.footer-icon img{
  width: 40px;
}

.license{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 40px;
  height: 10vh;
}
.license h2{
  color: #c8c8c8;
  font-size: 14px;
}
/* home
------------------------------- */
#home{
  padding-top: 30px;
}
.home{
  text-align: center;
  padding: 0 0 50px 0;
  width: 60%;
}
.home-content{
  padding-bottom: 70px;
  display: flex;
}
.page-title{
  width: 50%;
}
.page-title h1{
  margin: 25px 0 10px 0;
  font-size: 30px;
  color: #000;
}
.page-title h1 span{
  font-size: 20px;
}
.page-title p{
  color:rgba(108,114,121,0.6);
  font-size: 14px;
  line-height: 22.4px;
}
.menu{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.item img{
  border-radius: 80px;
  height: 100px;
  width: 100px;
}
.item p{
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
}

/* アバウト */
#about{
  height: 90vh;
  padding-top: 100px;
}
.title{
  text-align: center;
  padding-bottom: 50px;
}
.about-text{
  text-align: left;
  margin-top:50px;
  padding:0 15px;
  border-left:10px solid #000;
  height:155px;
}
.about{
  text-align: center;
}
.about img{
  width:80%;

}

.title p{
  font-size: 14px;
  line-height: 22.4px;
  padding-top: 10px;
}
.feature{
  display: flex;
  justify-content: space-between;
}
.topic{
  text-align: center;
}
.topic img{
  width: 60%;
}
.topic p{
  height:100px;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
  border-left:10px solid #000;
  padding: 0 10px 20px 10px;
  white-space: nowrap;
  line-height: 22.4px;
}

/* スライド */
.slider{
    margin: 100px auto;
    width: 80%;
}
.slider img{
    height: auto;
    width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
/* ページトップに戻るボタン */
#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #3f98ef;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: #3f98ef;
}

/* our works
------------------------------- */
#ourworks{
  padding-top: 100px;
  padding-bottom: 100px;
}
.main-collection{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.shop-item h4{
  font-size: 22px;
  color: #2d3033;
  font-weight: 400;
  margin: 10px 0;
}
.shop-item h5{
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  margin: 10px 0;
}
.shop-item h5 span{
  font-size: 10px;
}
.shop-item p{
  font-size: 12px;
  line-height: 14px;
  color: #6c7279;
  margin: 0 0 10px;
}

.window {
	overflow:		hidden;
    position:		relative;	/* 相対位置指定 */
    z-index: 0;
}
.window .caption {
	text-align: 		center;
    color:			#fff;
}
.mask{
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mask h3{
    margin: 0;
    color: #e9eaed;
    font-size: 17px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.mask h4{
    margin: 10px 0;
    color: #e9eaed;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.window .mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.7);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.window:hover .mask {
	opacity:		1;	/* マスクを表示する */
}

/* orderflow */
#orderflow{
  padding-top: 100px;
}
.order{
  display: grid;
  gap: 20px;
  row-gap: 70px;
  grid-template-columns: repeat(3, 1fr);
}
.button{
  border: solid 2px #000;
  color: #000;
  padding: 15px 50px;
  display: inline-block;
}
.form{
  text-align: center;
  margin: 100px 0 30px;
}
.form a:hover{
  background: #333;
	color: #fff;
}
.flow{
  padding: 0 25px;
}
.flow h3{
  font-size: 18px;
  margin: 10px 0;
  border-left:10px solid #000;
  padding: 10px 0 10px 10px;
}
.flow p{
  font-size: 14px;
  line-height: 22.4px;
}

/* company
------------------------------- */
.company-title{
   padding-top: 150px;
  text-align: center;
}
.company{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.company-content{
  display: flex;
  flex-direction: column;
}
.company-content h4{
  font-size: 22px;
  color: #2d3033;
  font-weight: 400;
  margin: 10px 0;
}
.company-content p{
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
  margin-bottom: 10px;
}
.company-content img{
  width: 60px;
}
.map{
  filter:grayscale(0.9);
  -webkit-filter:grayscale(0.9);
  z-index: 1;
}
.quu{
    display: flex;
    position: relative;
}
.quu-info p{
    margin:0;
}
.quu-info{
    margin-left:60px;
    position: absolute;
    bottom:0;
}

/*contact us 
------------------------------- */

.contact-wrapper{
  padding-top:150px;
  width:900px;
  /* width: 100%; */
  margin:0 auto;
}
.contact-wrapper h1{
  font-size: 2em;
  display: block;
}
.content-title{
  margin-bottom: 20px;
  text-align: center;
}
 .clearfix{
  margin: 10px 0;
  width: 100%;
  padding: 35px 0;
  display: flex;
  justify-content: center;
}

.name-title{
  width: 30%;
  font-size: 18px;
  line-height: 30px;
  height: 30px;
  padding: 3px 0 3px 0;
  text-indent: -48px;
  margin: 0 0 0 48px;
}

.name-title::before{
  font-size: 14px;
  margin: 0 10px 0 0;
  display: inline;
  line-height: 20px;
  padding: 3px 10px;
  color: #ffffff;
  border-radius: 4px;
  content:"必須";
  color:red;
  border:solid 1px red;
}

.any::before{
  content: "任意";
  color:gray;
  border:none;
}
.box{
  box-sizing: content-box;
}

.text-area {
  width: 60%;
  font-size: 18px;
  line-height:30px;
  height:auto;
}

.text-area li {
  display: inline-block;
  margin: 0 15px 0 0;
  line-height: 30px;
  height: 30px;
  padding: 3px 0;
}

.text-area p.mail_caution {
  font-size: 12px;
  line-height: 19px;
  color: #313131;
  margin: 5px 0 0 0;
}
/*_::-webkit-full-page-media, _:future, :root .text-area select {*/
/*    width: 545px;*/
/*    font-size: 18px;*/
/*    height:30px;*/
/*    padding: 3px 0 3px 10px;*/
/*    margin:0;*/
/*}*/

.text-area input[type="text"],
.text-area input[type="number"],
.text-area input[type="mailaddress"],
.text-area input[type="tel"],
.text-area select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 545px;
  font-size: 18px;
  height:30px;
  padding: 3px 0 3px 10px;
  margin:0;
}

input,
select,
textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:solid 1px;
  border-left: solid 5px black;
  border-radius: 0%;
}

.text-area input[type="text"].inp_error,
.text-area input[type="number"].inp_error,
.text-area input[type="tel"].inp_error,
.text-area textarea.inp_error {
  border: 1px solid #F88A8A;
  background: #F4D4D4;
}

.text-area textarea{
  width: 545px;
  padding: 10px 0px 10px 10px;
}

#energy_contact #send_status{
  padding: 5px 0 25px;
  text-align: center;
}

#energy_contact #send_status p{
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  line-height: 50px;
  font-size: 25px;
  border: 1px solid #3c763d;
  border-radius: 4px;
  background-color: #dff0d8;
  color: #3c763d;
}

span.error_m {
  font-size: 15px;
  font-weight: normal;
  color: #FF4040;
  display: block;
  margin: 0;
}
.transmission{
  text-align: center;
  margin:0 auto;
}

.transmission input[type="button"],
.transmission input[type="submit"]
{
  line-height: 0;
  border: 2px solid black;
  font-size: 25px;
  text-shadow: none;
  color: black;
  background-color: white;
  width: 100%;
  height:50px;
  padding: 30px 0;
  margin: 25px 0;
  display: block;
  opacity: 1.0;
  cursor: pointer;
  font-family: 'Sawarabi Mincho', sans-serif;

}
.transmission input[type="button"]:hover,
.transmission input[type="submit"]:hover
{
  background: #333;
  color:#fff;
}
.result-error{
  display: inline-block;
  margin-top: 10px;
}
.note_text{
  font-size: 14px;
  text-indent: 12px;
}
/*<bu>receive.php*/
.receive-item{
    width: 30%;
    font-size: 18px;
    line-height: 30px;
    height: 30px;
    padding: 3px 0 3px 0;
    text-indent: -48px;
    margin: 0 0 0 48px;
}
.text{
    min-height:30px;
    line-height:30px;
    font-size:18px;
    border:solid 1px black;
    border-left:solid 5px black;
    width:545px;
    padding:3px 0 3px 10px;
    white-space: pre-wrap;
}
.receive-textarea{
    margin-bottom:30px;
    min-height: 170px;
    font-size: 14px;
    font-weight:bold;
}
/*確認画面*/
.send-wrapper{
    height:200px;
    text-align: center;
}
.send-wrapper h1{
    text-indent: 33px;
    font-size: 2.5em;
    margin-top: 30px;
    margin-bottom: 90px;
}
.send-wrapper p{
    line-height: 23px;
    font-size: 1.1em;
}


/* body{
    background-color: red;
} */

@media(max-width:600px){
  /* 共通部分
    ------------------------------- */
  body{
      width:100%;
  }
  .main-nav{
      font-size: 1rem;
      margin-top: 10px;
      display: none;
  }
  .header{
      padding-top: 10px;
  }
  .wrapper{
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }
  .footer-logo{
      height: 10vh;
  }
  .license{
      height: 10vh;
  }
  img {
    width:100%;
    max-width: 100%;
    height: auto;
  }

  /* home
  ------------------------------- */
  #home{
    padding-top: 30px;
  }
  .home{
      width: auto;
  }
  .home-content{
      flex-direction: column;
      align-items: center;
  }
  .menu{
      padding-top: 70px;
      flex-direction: column;
      align-items: center;
  }
  .item{
      margin-top: 50px;
  }
  .page-title{
      width: auto;
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
  }
  .page-title h1{
      white-space: nowrap;
      font-size: 25px;
      margin: 25px 0 10px 0;
  }
  .page-title h1 span{
      font-size: 15px;
  }

  .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  }
  .main-nav{
  display: none;
  }

  /*about
    ------------------------------- */
  #about{
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .feature{
    flex-direction: column;
    align-items: center;
  }

  /* our works
    ------------------------------- */
  .main-collection{
    grid-template-columns: 1fr;
    margin-top: 20%;
  }
  .window:hover .mask {
    opacity:		0;	/* マスクを表示しない */
  }

  /* orderflow
  ------------------------------- */
  #orderflow{
    padding-top: 100px;
  }
  .order{
    grid-template-columns: 1fr;
    margin-top: 20%;
  }
  /* company
  ------------------------------- */
  #company{
    padding-top: 150px;
  }
  .company-title{
    /* margin-top: 25%; */
    text-align: center;
  }
  .company{
      flex-direction: column;
      align-items: center;
      margin-top: 10%;
  }
  .company-content h4{
      margin: 25px 0 10px 0;
  }
  .map{
    margin-top: 30px;
  }
  .map iframe{
      width: 100%;
      height: 100%;
  }

  /*ハンバーガーボタン*/
  .uq_spNavi_screen{
    display: block;
  }
  .el_humburger {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 26px;
    height: auto;
    padding-top: 10px;
    box-sizing: border-box;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    pointer-events: auto;
  }

  .el_humburger > span {
    display: block;
    width: 100%;
    margin: 0 auto 6px;
    height: 3px;
    background: #000;
    transition: all 0.2s ease-in-out;
  }
  .el_humburger > span:last-child {
    margin-bottom: 0;
  }
  .js_humburgerOpen .el_humburger > span {
    background: #000;
  }

  .js_humburgerOpen .el_humburger > span.top {
    transform: translateY(9px) rotate(-45deg);
  }

  .js_humburgerOpen .el_humburger > span.middle {
    opacity: 0;
  }

  .js_humburgerOpen .el_humburger > span.bottom {
    transform: translateY(-9px) rotate(45deg);
  }

  .el_humburgerButton.el_humburgerButton__close {
    top: 2%;
    right: 2%;
  }

  .el_humburgerButton__close > span {
    display: block;
    width: 35px;
    margin: 0 auto;
    height: 4px;
    background: #fff;
  }

  .el_humburgerButton__close > span.el_humburgerLineTop {
    transform: translateY(5px) rotate(-45deg);
  }

  .el_humburgerButton__close > span.el_humburgerLineBottom {
    transform: translateY(-6px) rotate(45deg);
  }

  /*ナビゲーション*/
  .uq_spNavi {
    display: none;
  }
  .uq_spNavi.js_appear {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 9999;
  }

  .uq_spNavi_screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.96);
    z-index: 0;
    margin-top: 0px;
    padding-top: 0px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .navigation {
    padding: 80px 0 0 0;
    text-align: center;
  }

  .navigation_item {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .navigation_item > a {
    color: #000;
    text-decoration: none;
  }

  .js_fixed {
    position: fixed;
    width: 100%;
    height: 100%;
  }

  /* contact us */
  .contact-wrapper{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.clearfix {
    margin: 0 0 20px 0;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-area {
    width: 100%;
    font-size: 18px;
    line-height:30px;
    height:auto;
}
.text-area input[type="text"],
.text-area input[type="number"],
.text-area input[type="mailaddress"],
.text-area input[type="tel"],
.text-area select{
    width: 100%;
}
.name-title{
    margin: 0 auto;
    width: 80%;
    padding-left: 30px;
}
.text-area textarea{
    width: 100%;
    padding: 10px 3px 10px 10px;
}
.box{
    -webkit-appearance: none;
}
.transmission input[type="button"],
.transmission input[type="submit"]
{
    -webkit-appearance: none;
    appearance: none;
    appearance: none;
    border: none;
    border-radius: none;
    border: 2px solid black;
    font-size: 20px;
    text-shadow: none;
    color: black;
    background-color: white;
    width: 60%;
    height:10px;
    display: block;
    cursor: pointer;
    margin: 60px auto 15px auto;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.receive-item{
    margin: 0 auto;
    width: 80%;
    padding-left: 30px;
}

/* 確認画面 */
#contact_form{
  width: 100%;
}
.text-area .text{
  width: 100%;
}

.receive-textarea{
  width: 100%;
}
    /*確認画面*/
    .send-wrapper{
        height:200px;
        text-align: center;
    }
    .send-wrapper h1{
        text-indent: 20px;
        font-size: 2em;
        margin-top: 30px;
        margin-bottom: 90px;
    }
    .send-wrapper p{
        line-height: 23px;
        font-size: 1.0em;
    }

}

  


