@charset "Shift_JIS";
/* マネープランシミュレーション
-----------------------*/
/* #height{
    height: 100px !important;
} */
p{
    margin:0;
}
form {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    background-color: #f5f5dc;
    border-radius: 8px;
    /* margin-left: 200px; */
    overflow: hidden;
    /* padding: 10px 10px 10px 10px; */
    /* margin-top:30px; */
    /* width:25%; */
    /* height:480px; */
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
}
.tab {
    border: 5px solid #ccc;
    border-radius: 5px;
    left: 0;
    margin-bottom: 45px;
    position:relative;
    top: 50px;
    width: 180px;
}
.tab li.select {
    background-color: #fff;
    border-bottom: 3px solid #ccc;
    border-top: 3px solid #ccc;
}
.tab li {
    background-color: #e6e6e6;
    cursor: pointer;
    list-style: none;
}
.tab li:first-child {
    border-top: none
}
.tab li:last-child {
    border-bottom: none
}
.tab li span {
    display: block;
    font-size: 16px;
    padding: 10px;
}
.area_main_contents {
    position: relative
}
.area_disclaimer {
    clear: both
}
input[type="num"] {
    border: 3px solid #ccc;
    font-size: 16px;
    margin-right: .5em;
    padding: .5em;
    width: 7em;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.content {

}
.content li {
    padding: 0px
}
.content li .container form {

}
.hide {
    display: none
}
.result {
    height: auto;
    margin-top: 20px;
    width: auto;
}
.result img {
    height: auto;
    max-width: 100%;
    width: 100%;
}
#detail-contents .area_input table td {
    border: none
}
.container {
    height:550px;
    display: flex;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin:0;
}
.area_input {
    vertical-align: bottom;
    margin-top:-60px;
}

table.row th,
table.row td{
    width:100%;
    display:block;
    padding: 10px;
}
table.row th{
    padding-bottom:15px;
    font-size: 16px;
}
table.row td
{
    font-size: 20px;
}
table.row select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* -webkit-appearance:pop-up-menu;
    appearance: pop-up-menu; */
    font-size: 20px;
}
.input{
    height:34px;
    width:60px;
    font-size: 18px;
    padding:5px;
}
.tag{
    width:100px;
}
.row{
    text-align: center;
    margin:0 auto;
}
.area_input select {
    /* -webkit-appearance:pop-up-menu;
    appearance: pop-up-menu; */
    -webkit-appearance: none;
	-moz-appearance: none;
    font-size: 16px;
    height:40px;
    /* width:80px; */
    /* padding: .5em; */
}
.area_input table {
    /* margin-right:-20px; */
}
.period-title{
    margin-bottom:10px;
}
.area_submit input {
    line-height: 220%;
    background-color: #029683;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    width: 100px;
    cursor: pointer;
    /* padding:0 20px; */
}
.area_result {
    /* position: relative */

}
.area_result dd {
    /* float: left; */
    font-size: 150%;
    font-weight: bold;
    font-weight: normal;
}
.area_result dd span {

}
.area_result dt {
    text-align: center;
    /* float: left; */
    font-size: 150%;
    font-weight: normal;
    /* margin-right: 1em; */
    /* width: 6em; */
}
.area_result dl {
    text-align: center;

    line-height: 1.6;
    /* margin-left: 120px; */
    overflow: hidden;
}

.comment {
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 10px;
}
/* mao rank-table */

.rank-table{
    margin:0 auto;
    border: 2px solid #029683;
    /* border-color: #029683; */
    border-collapse: collapse;
}
.rank-table td{
    border-color: #029683;
    border: 2px solid #029683;
    font-size:18px;
    padding: 5px;
}
.table-img{
    padding: 5px;
}

#error_txt{
    font-size: 10px;
    margin:0;
    padding:0;
    /* margin-top:-10px; */
    /* font-weight: solid; */
    color: red;
    display: none;
}
#rm_error_txt{
    font-size: 10px;
    margin-top:-10px;
    margin-bottom:10px;
    padding:0;
    /* height:20px; */
    color: red;
    display: none;
}
#number-commentary{
    font-size: 9px;
    font-weight: solid;
    position: relative;
    top:80px;
}
#rm-commentary{
    font-size: 9px;
    font-weight: solid;
    position: relative;
    top:160px;
}
/* form */
.form{
    padding:15px 5px 5px 5px;
    margin-top:30px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    background-color: #f5f5dc;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    width:25%;
    height:480px;
    /* flex-shrink: 0; */
}
.result-text{
    font-size: 21px;
    font-weight: bold;
}
.result_chart{
    width:50%;

}
.form-head{
    font-size: 16px;
    font-weight: bold;
    margin-bottom:8px;
}
.commentary{
    font-size: 10px;
    margin:0 0 10px 0;
}
.number{
    margin-bottom:20px;
}
.rm{
    margin-bottom:20px;
}
.period{
    margin-bottom:20px;
}
.nisa-link{
    margin-top:12px;
}

@media screen and (max-width:640px) { 
    .tab {
        position: static;
        width: auto;
    }
    .tab li {

    }
    .tab li:first-child {

    }
    .tab li span {
        background: none;
        padding: 8px;
    }
    form {
        margin-left: 0;
    }
    .area_input,
    .area_submit,
    .area_result {
        width: 100%
    }
    .area_input table td {
        width: 6em
    }
    .area_input table tr {
        height: auto;
        width: 100%;
    }
    .area_input table th {
        width: auto
    }
    .area_input table th,
    .area_input table td {

    }
    .area_input table th,
    .area_input table td {
        padding: 10px 0;
        position: static;
        vertical-align: middle;
		font-size: 16px;
        width: auto;
    }
    .area_result dd {
        font-size: 20px
    }
    .area_submit {
        margin: 15px 0;
        text-align: center;
    }
    .area_result dt,
    .area_result dd {
        float: none;
        width: auto;
    }
    .area_result dl {
        margin-left: 0
    }
    .area_result {
        padding: 3%;
        /* width: 93%; */
    }
    table td,
    table th {

    }
    .area_input table th {
        width: 7em;
	padding-right:1em;
    }
    .chart,
    .bar {
        float: none!important;
        height: auto!important;
        width: auto!important;
    }
    input[type="num"] {
        width: 4em
    }
    .container{
        display: block;
    }
    /* form {
        -moz-border-radius: 0 0 8px 8px;
        -webkit-border-radius: 0 0 8px 8px;
        background-color: #f5f5dc;
        border-radius: 8px;
        margin-left: 200px;
        overflow: hidden;
        padding: 20px 20px 20px 20px;
        margin-top:0px;
        width:100%;
        height:370px;
    } */

    table.row th,
    table.row td{
        width:100%;
        display:inline;
        padding: 10px;
    }
    table.row th{
        display: flex;
        align-items: center;
        height:50px;
        /* display: inline; */
        font-size: 12px;

    }
    table.row tr{
        display: flex;
        vertical-align: bottom;
        /* margin-bottom: 20px; */
    }
    #height{
        /* padding: 50px; */
        /* display: block; */
        margin-bottom: 10px;
    
    }
    .row{
        table-layout: fixed;
        width:100%;
        display: table;
        margin-left:20px;
    }
    table.row td{
        display: flex;
        align-items: center;
        /* text-align: right; */
        font-size: 16px;
    }
    /* table.row th{
        width:100%;
    } */
    table.row select{
        font-size: 16px;
        background-color: white;
    }
    .rank{
        margin-top:320px;
    }
    .rank-table{
        margin:0 auto;
        margin-top:-10px;
    }
    .rank-table td{
        font-size:14px;
        padding: 5px;
    }
    .input{
        font-size: 16px;
        height:30px;
        /* width:80px; */
        padding:5px;
    }
    .tag{
        margin:0;
    }
    input .input{
        font-size: 20px;
    } 
    .area_input select {
        font-size: 14px;
        height:30px;
        /* width:50px; */
        /* padding: .5em; */
    }
    .area_submit input {
        line-height: 150%;
        display: inline;
        background-color: #029683;
        border: none;
        border-radius: 6px;
        color: #ffffff;
        /* display: block; */
        font-size: 20px;
        /* font-weight: bold; */
        margin: 0;
        /* margin-left: auto;
        margin-right: auto; */
        text-align: center;
        text-decoration: none;
        width: 200px;
        cursor: pointer;
        /* padding:0 20px; */
    }
    #error_txt{
        /* font-size: 12px; */
        /* width:240px; */
        /* height:40px; */
        /* margin:0; */
        /* padding:0; */
        /* margin-top:-20px; */
        /* font-weight: solid; */
        /* color: red; */
        /* display: none; */
    }
    .form{
        display: block;
        width:100%;
        height:auto;
    }
    .number{
        margin-bottom:20px;
    }
    .number-sp{
        margin-left:30px;
        align-items: top;
        display: flex;
        /* vertical-align: bottom; */
        /* align-items: bottom; */
        /* justify-content:center; */
    }
    .rm{
        margin-bottom:20px;
    }

    .rm-sp{
        margin-left:30px;
        align-items: top;
        display: flex;
        /* align-items: center; */
        /* justify-content:center; */
    }
    .tag{
        width:80px;
    }
    .period{
        margin-bottom:20px;
    }
    .period-sp{

        margin-left:30px;
        display: flex;
        text-align: center;
        align-items: top;
        /* justify-content: center; */
    }
    .form-head{
        line-height: 30px;
        margin:0;
        display: block;
        width:60%;
    }
    .commentary{
        margin-top:5px;
        line-height: 12px;
    }
    .en{
        line-height: 30px;
    }
    p{
        margin:0;
    }
    .form{
        padding-top:20px;
    }
}
